<div>
  <h1>Login</h1>
  <p>Top Nursing System in Belgium</p>
    <div class="mb-3">
      <app-input-filed [label]="'usernameOrMobile' | translate" [placeholder]="'usernameOrMobile' | translate"
        [name]="'usernameOrMobile'" [type]="'text'"
        [classes]="{input: 'form-control', label: 'form-label', base: 'input-group'}"
        (nameChanged)="handleNameChange($event)" [required]="true">
      </app-input-filed>
    </div>
    <div class="mb-3">
      <app-input-password [label]="'Password' | translate" [placeholder]="'Password' | translate"
        [name]="'password'" [classes]="{input: 'form-control', label: 'form-label', base: 'input-group'}"
        (valueChange)="handlePasswordChange($event)" [required]="true">
      </app-input-password>
    </div>
      <div *ngIf="loginFailed" class="mb-3 alert alert-danger" role="alert">
        Invalid email or password!
      </div>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Remember Me
        </label>
      </div>
    </div>
    <div class="mb-5">
      <button (click)="handleLogin()" class="btn btn-primary">{{"login" | translate}}</button>
    </div>
    <div class="text-center">
      <a href="#">Forget Your Password ?</a>
    </div>
</div>
