// Input place holder with floating label
.floating-label {
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
}
input{
  padding-inline-end: 45px;
}
.with-icon{
  position: relative;
  .icon{
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
    right: 15px;
    transform: translateY(-50%);
    padding: 0;
  }
}
