<section class="header-page mb-24" [class.mb-40]="isShowDetails" [ngClass]="{ flex: isProductOffersRoute }">
  <!-- <section class="header-page mb-24"
  [class.mb-40]="isShowDetails"
  [ngClass]="{ 'flex': isProductOffersRoute }"
  [ngStyle]="{'background-image': 'url(' + (seller?.cover ? seller?.cover : (sellerProfile?.cover ? sellerProfile?.cover : sellerCover)) + ')',
              'background-repeat': 'no-repeat',
              'background-size': 'cover',
              'height': '125px',
              'background-position': 'center'}"> -->

  <div class="content-page">
    <section class="flex justify-between items-center">
      <div class="flex items-end w-32 h-32 mt-12">
          <!-- (!isProductOffersRoute && this.seller) || sellerProfile -->
      </div>

      <ul class="flex gap-5">
        <li>
          <app-switch-language></app-switch-language>
        </li>
        <li>
          <button type="button"
            class="inline-flex button button--white border border-blueGray-50 rounded-full h-8 py-0 px-2"
            [routerLink]="['/product/productOrders']">
            <!-- <svg-icon src="../../../../assets/icons/cart.svg"
              [svgStyle]="{ 'width.px': 22, fill: '#4E4E78' }"></svg-icon>
            <span *ngIf="products.length > 0 "
              class="inline-flex items-center justify-center w-4 h-4 text-xxs text-white bg-primary rounded-full -mt-2">
              {{  products.length  }}
            </span> -->
          </button>

        </li>
      </ul>
    </section>
  </div>
</section>
