<section class="header-page mb-24" [class.mb-40]="isShowDetails" class="flex">
  <div class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
      <app-switch-language></app-switch-language>

        <button type="button" *ngIf="isAuthenticated"
            class="inline-flex button button--white border border-blueGray-50 rounded-full h-8 py-0 px-2"
            (click)="logout()">
            {{"Logout" | translate}}
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/user">users</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>


</section>
