<main>
  <section class="progressbar py-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="item orange">
            <div class="circle"></div>
            <h3>User</h3>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="item cyan">
            <div class="circle"></div>
            <h3>Services</h3>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="item black">
            <div class="circle"></div>
            <h3>Patient</h3>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="item blue">
            <div class="circle"></div>
            <h3>Active Requests</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cards py-3">
    <div class="container-fluid" (click)="GoTo(userPageRoute)">
      <div class="row">
        <div class="col-lg-6 mb-3">
          <div class="item">
            <div class="icon">
              <img src="../assets/images/manage-users.svg" class="img-fluid" alt="">
            </div>
            <div class="card-content">
              <h4>Manage Users</h4>
              <p>Here you can manage all system users with different roles , also you can set availability</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-3">
          <div class="item">
            <div class="icon">
              <img src="../assets/images/manage-services.svg" class="img-fluid" alt="">
            </div>
            <div class="card-content">
              <h4>Manage Services</h4>
              <p>Here you can manage all system services that you provide to patients with it's duration </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-3">
          <div class="item">
            <div class="icon">
              <img src="../assets/images/manage-requests.svg" class="img-fluid" alt="">
            </div>
            <div class="card-content">
              <h4>Manage Requests</h4>
              <p>Here you can manage create patient requests and manage it smoothly</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-3">
          <div class="item">
            <div class="icon">
              <img src="../assets/images/manage-customers.svg" class="img-fluid" alt="">
            </div>
            <div class="card-content">
              <h4>Manage Patients</h4>
              <p>Here you can manage all system patients with their data such name , contact info , location and ect.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-3">
          <div class="item">
            <div class="icon">
              <img src="../assets/images/manage-shifts.svg" class="img-fluid" alt="">
            </div>
            <div class="card-content">
              <h4>Manage Shifts</h4>
              <p>Here you can manage system shifts for employees</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
