<header>
  <div class="topbar">
    <div class="page-title">Dashboard</div>
    <ul class="navbar-nav topnav">
      <li class="nav-item toggle-nav d-block d-lg-none">
        <a class="nav-link px-3" href="#" (click)="addBodyClass($event)">
          <i class="fa-solid fa-bars"></i>
        </a>
      </li>
      <li class="nav-item notification">
        <a class="nav-link px-3" href="#">
          <i class="fa-regular fa-bell"></i>
        </a>
      </li>
      <li class="nav-item user dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <h5 class="text-start d-none d-lg-block">Mohamed Abd al-Sattar<span class="d-block">Super Admin</span></h5>
          <figure>
            <img src="../assets/img/bg-masthead.jpg" class="img-fluid" alt="">
          </figure>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">My Profile</a></li>
          <li><a class="dropdown-item" href="#">My Tasks</a></li>
          <li><a class="dropdown-item logout" href="#">Logout</a></li>
        </ul>
      </li>
      <li class="nav-item lang dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          En <i class="ms-2 fa-solid fa-globe"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">English</a></li>
          <li><a class="dropdown-item" href="#">Belgian</a></li>
          <li><a class="dropdown-item" href="#">Arabic</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- <app-switch-language></app-switch-language> -->

</header>
