<header>
  <div class="topbar">
    <div class="page-title">Dashboard</div>
    <ul class="navbar-nav topnav">
      <li class="nav-item toggle-nav d-block d-lg-none">
        <a class="nav-link px-3" href="#" (click)="addBodyClass($event)">
          <i class="fa-solid fa-bars"></i>
        </a>
      </li>
      <li class="nav-item notification">
        <a class="nav-link px-3" href="#">
          <i class="fa-regular fa-bell"></i>
        </a>
      </li>
      <li class="nav-item user dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <div *ngIf="userInfo">
            <h5 class="text-start d-none d-lg-block">{{ userInfo.FullName }}<span class="d-block">{{
                userInfo.Roles.length > 0 ? userInfo.Roles.join(', ') : 'No Roles' }}</span></h5>
          </div>
          <figure>
            <img src="../assets/img/bg-masthead.jpg" class="img-fluid" alt="">
          </figure>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item">{{"myProfile" | translate}}</a></li>
          <li><a class="dropdown-item">{{"myTasks" | translate}}</a></li>
          <li><a class="dropdown-item logout" (click)="logout()" >{{"logout" | translate}}</a></li>
        </ul>
      </li>
      <li class="nav-item lang dropdown">
        <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ selectedLanguage.toUpperCase() }} <i class="ms-2 fa-solid fa-globe"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li *ngFor="let language of languages">
            <a class="dropdown-item"  (click)="changeLanguage(language.code)">
              {{ language.name }}
            </a>
          </li>
        </ul>
      </li>


    </ul>
  </div>
  <!-- <app-switch-language></app-switch-language> -->

</header>
