<!-- <div class="container-fluid ">

  <app-loading></app-loading>

  <div class="auth-container">
    <div class="auth-box">
      <div class="container">
        <div class="shadow-lg p-5 col-md-6 mt-3 mx-auto">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="auth-container">
  <div class="container">
    <div class="row g-0">
      <div class="g-0 col-md-6 text-center auth-form">
        <div class="d-flex align-items-center h-100 justify-content-center">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="g-0 col-md-6 text-center auth-bg-side">
        <div class="d-flex align-items-center h-100 justify-content-center">
          <img src="../../../assets/images/nursing-login-logo.svg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
