<aside class="sidebar">
  <button (click)="RemoveBodyClass($event)">Remove class</button>
  <div class="logo"><img src="../assets/images/nursing-logo.svg" class="img-fluid" alt=""></div>
  <nav>
    <ul>
      <li class="active">
        <a href="#">
          <div class="icon">
            <img src="../../../assets/images/manage-users.svg" class="img-fluid" alt="">
          </div>
          <h6>Manage<span class="d-block">User</span></h6>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon">
            <img src="../../../assets/images/manage-services.svg" class="img-fluid" alt="">
          </div>
          <h6>Manage<span class="d-block">Services</span></h6>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon">
            <img src="../../../assets/images/manage-requests.svg" class="img-fluid" alt="">
          </div>
          <h6>Manage<span class="d-block">Requests</span></h6>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon">
            <img src="../../../assets/images/manage-customers.svg" class="img-fluid" alt="">
          </div>
          <h6>Manage<span class="d-block">Customers</span></h6>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="icon">
            <img src="../../../assets/images/manage-shifts.svg" class="img-fluid" alt="">
          </div>
          <h6>Manage<span class="d-block">Shifts</span></h6>
        </a>
      </li>
    </ul>
  </nav>
</aside>
