@import "../../../variable";
:host {
  flex: 0 0 100px;
  max-width: 100px;
  padding: 15px;
  @media (max-width:992px) {
    display: none;
  }
}
.logo{
  margin-bottom: 25px;
}
nav{
  ul{
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;
    li{
      margin-bottom: 25px;
      opacity: 0.5;
      transition: all ease 0.3s;
      &:last-child{
        margin: 0;
      }
      &.active,&:hover{
        opacity: 1;
      }
      a{
        display: block;
        color: $white;
        text-decoration: none;
        .icon{
          width: 50px;
          height: 50px;
          background: rgba($white, 0.2);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin: 0 auto 3px;
          img{
            max-height: 30px;
            max-width: 32px;
          }
        }
        h6{
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}
