<main>

  <div class="card border-0 p-3 rounded-4">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
          <h5 class="card-title">My Requests Today</h5>
        </div>
      </div>
      {{requests | json}}
      <div class="requests-wrapper">
        <div class="request mb-4">
          <div class="d-block d-sm-flex justify-content-between align-items-center mb-4">
            <div class="d-flex customer-info">
              <figure>
                <img src="../../../../../assets/images/user-avatar.svg" class="img-fluid" alt="">
              </figure>
              <div>
                <h6>Customer Name</h6>
                <h4>Ahmed Mohamed Ibrahim</h4>
              </div>
            </div>
            <span class="date mt-3 mt-sm-0 d-block"><i class="fa-regular fa-calendar-days"></i> 25/2/2024</span>
          </div>
          <div class="d-block d-md-flex gap-5">
            <div>
              <div class="sub-title">Order Num</div>
              <div class="title">001254</div>
            </div>
            <div>
              <div class="sub-title">Service Name</div>
              <div class="title">Insulin injection</div>
            </div>
            <div>
              <div class="sub-title">Patient Number</div>
              <div class="title">01555548999</div>
            </div>
          </div>
          <hr class="my-4">
          <div class="d-block d-lg-flex justify-content-between">
            <div class="flex-md-row flex-column d-flex gap-2 gap-xl-4 justify-content-between">
              <button type="button" class="btn btn-outline-secondary">Heading in progress</button>
              <button type="button" class="btn btn-outline-primary">Access to the patient</button>
              <button type="button" class="btn btn-outline-primary">Patient leaving</button>
            </div>
            <div class="mt-3 mt-lg-0">
              <button type="button" class="btn btn-outline-danger w-100">Cancel</button>
            </div>
          </div>
        </div>
        <div class="request mb-4">
          <div class="d-block d-sm-flex justify-content-between align-items-center mb-4">
            <div class="d-flex customer-info">
              <figure>
                <img src="../../../../../assets/images/user-avatar.svg" class="img-fluid" alt="">
              </figure>
              <div>
                <h6>Customer Name</h6>
                <h4>Ahmed Mohamed Ibrahim</h4>
              </div>
            </div>
            <span class="date mt-3 mt-sm-0 d-block"><i class="fa-regular fa-calendar-days"></i> 25/2/2024</span>
          </div>
          <div class="d-block d-md-flex gap-5">
            <div>
              <div class="sub-title">Order Num</div>
              <div class="title">001254</div>
            </div>
            <div>
              <div class="sub-title">Service Name</div>
              <div class="title">Insulin injection</div>
            </div>
            <div>
              <div class="sub-title">Patient Number</div>
              <div class="title">01555548999</div>
            </div>
          </div>
          <hr class="my-4">
          <div class="d-block d-lg-flex justify-content-between">
            <div class="flex-md-row flex-column d-flex gap-2 gap-xl-4 justify-content-between">
              <button type="button" class="btn btn-outline-secondary">Heading in progress</button>
              <button type="button" class="btn btn-outline-primary">Access to the patient</button>
              <button type="button" class="btn btn-outline-primary">Patient leaving</button>
            </div>
            <div class="mt-3 mt-lg-0">
              <button type="button" class="btn btn-outline-danger w-100">Cancel</button>
            </div>
          </div>
        </div>
        <div class="request mb-4">
          <div class="d-block d-sm-flex justify-content-between align-items-center mb-4">
            <div class="d-flex customer-info">
              <figure>
                <img src="../../../../../assets/images/user-avatar.svg" class="img-fluid" alt="">
              </figure>
              <div>
                <h6>Customer Name</h6>
                <h4>Ahmed Mohamed Ibrahim</h4>
              </div>
            </div>
            <span class="date mt-3 mt-sm-0 d-block"><i class="fa-regular fa-calendar-days"></i> 25/2/2024</span>
          </div>
          <div class="d-block d-md-flex gap-5">
            <div>
              <div class="sub-title">Order Num</div>
              <div class="title">001254</div>
            </div>
            <div>
              <div class="sub-title">Service Name</div>
              <div class="title">Insulin injection</div>
            </div>
            <div>
              <div class="sub-title">Patient Number</div>
              <div class="title">01555548999</div>
            </div>
          </div>
          <hr class="my-4">
          <div class="d-block d-lg-flex justify-content-between">
            <div class="flex-md-row flex-column d-flex gap-2 gap-xl-4 justify-content-between">
              <button type="button" class="btn btn-outline-secondary">Heading in progress</button>
              <button type="button" class="btn btn-outline-primary">Access to the patient</button>
              <button type="button" class="btn btn-outline-primary">Patient leaving</button>
            </div>
            <div class="mt-3 mt-lg-0">
              <button type="button" class="btn btn-outline-danger w-100">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <header class="masthead"> -->
  <!-- <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <div class="container mt-4">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Search by phone or username..."
              [(ngModel)]="searchTerm">
          </div>
          <div class="filter-section">
            <select class="form-select" [(ngModel)]="selectedRoleId" (change)="filterByRole()">
              <option value="" translate="selectRole"></option>
              <option value="1" translate="admin"></option>
              <option value="2" translate="employee"></option>

            </select>
          </div>

          <div class="mb-3">
            <button type="button" class="btn btn-primary" (click)="openModal()">
              {{"addUser" | translate}}
            </button>
          </div>
          <div class="text-center mb-2">
            {{"user" | translate}} {{ (currentPage-1) * itemsPerPage + 1 }} {{"of" | translate}} {{ users.length }}
          </div> -->

  <!-- Existing table -->
  <!-- <table class="table" *ngIf="filteredUsers.length > 0; else isEmpty">
            <thead>
              <tr>
                <th scope="col">{{ 'number' | translate }}</th>
                <th scope="col">{{ 'name' | translate }}</th>
                <th scope="col">{{ 'email' | translate }}</th>
                <th scope="col">{{ 'phone' | translate }}</th>
                <th scope="col">{{ 'actions' | translate }}</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of filteredUsers; let i = index">
                <th scope="row">{{ (currentPage-1) * itemsPerPage + i + 1 }}</th>
                <td>{{ getCurrentName(user) }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.PhoneList[0] }}</td>
                <td> -->
  <!-- Actions like Edit or Delete -->
  <!-- <button class="btn btn-primary btn-sm">{{ 'edit' | translate }}</button>
                  <button class="btn btn-danger btn-sm">{{ 'delete' | translate }}</button>

                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div> -->

  <!-- Pagination Controls -->
  <!-- <nav *ngIf="users.length > 1">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="#" (click)="previousPage(); $event.preventDefault()">{{"previous" | translate}}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === users.length">
        <a class="page-link" href="#" (click)="nextPage(); $event.preventDefault()">{{"next" | translate}}</a>
      </li>
    </ul>
  </nav> -->

  <!-- Modal -->
  <ng-template #addUserModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">{{"addUser" | translate}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <form>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Full Name</label>
                <input type="text" class="form-control" id="userName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Phone (1)</label>
                <input type="text" class="form-control" id="userName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Phone (2)</label>
                <input type="text" class="form-control" id="userName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Role</label>
                <ng-select [items]="options" [searchable]="false" [(ngModel)]="selectedOptions"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Gender</label>
                <ng-select [items]="options" [searchable]="false" [(ngModel)]="selectedOptions"
                  >
                </ng-select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Address</label>
                <input type="text" class="form-control" id="userName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Password</label>
                <input type="text" class="form-control" id="userName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Services</label>
                <ng-select [items]="options" [multiple]="true" [searchable]="true" [(ngModel)]="selectedOptions">
                </ng-select>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">Avaiablility</label>
                <div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="day_Sun" value="Sun">
                    <label class="form-check-label" for="day_Sun">{{"Sun" | translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="day_Mun" value="Mun">
                    <label class="form-check-label" for="day_Mun">{{"Mon" | translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="day_Tue" value="Tue">
                    <label class="form-check-label" for="day_Tue">{{"Tue" | translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="day_Wed" value="Wed">
                    <label class="form-check-label" for="day_Wed">{{"Wed" | translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="day_Thu" value="Thu">
                    <label class="form-check-label" for="day_Thu">{{"Thu" | translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="day_Fri" value="Fri">
                    <label class="form-check-label" for="day_Fri">{{"Fri" | translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="day_Sat" value="Sat">
                    <label class="form-check-label" for="day_Sat">{{"Sat" | translate}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label for="userName" class="d-block w-100 mb-2">
                  {{"attachPhoto" | translate}}
                  <span class="d-block form-text mt-0 mb-3">{{"allowedFilestypes" | translate}} png, jpg, jpeg.</span>
                </label>
                <div class="upload-user-img-wrapper">
                  <img src="../../../../../assets/images/avatar.svg" class="img-fluid" alt="">
                  <label class="upload-user-img-trigger" for="upload_user_img_btn">
                    <i class="fa-solid fa-pen"></i>
                    <input id="upload_user_img_btn" class="upload-user-img-btn" type="file" name="userImg"
                      accept=".png, .jpg, .jpeg" />
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">
        {{ 'close' | translate }}</button>
      <button type="button" class="btn btn-primary">Add User</button>
    </div>
  </ng-template>
  <!-- if the cart is empaty  -->
  <ng-template #isEmpty>
    <app-is-empty class="d-block" style="margin-right: 8rem;"></app-is-empty>
  </ng-template>

  <!-- </header> -->

</main>
