@import "variable";

body {
  background: $lighten_cyan;
  padding: 50px;
}

p {
  color: $dark_cyan;
}

.page-container {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba($black, 0.05);
  display: flex;
  background: $dark_cyan;

  // overflow: hidden;
  aside {
    // flex: 0 0 100px;
    // max-width: 100px;
    // padding: 15px;
  }

  .content {
    border-radius: 25px;
    background: $gradient_bg;
    padding: 0px 30px;
    width: 100%;

    header {
      padding: 15px 0;
      border-bottom: 1px solid rgba($dark_cyan, 0.2);
      margin-bottom: 15px;

      .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .topnav {
          display: flex;
          flex-direction: row;
          // align-items: center;
          margin: 0;
          padding: 0;
          list-style: none;

          .nav-item {
            flex: 1;

            &.dropdown {
              .dropdown-toggle {
                &:after {
                  margin: 0;
                  border: solid $dark_cyan;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 3px;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  margin-inline-end: -15px;
                  margin-inline-start: 10px;
                  transition: all ease 0.3s;
                }
                &.show{
                  &:after {
                    transform: rotate(225deg);
                  -webkit-transform: rotate(225deg);
                  }
                }
              }

              .dropdown-menu {
                border: none;
                color: $dark_cyan;
                padding: 15px;
                border-radius: 10px;

                li {
                  border-bottom: 1px solid rgba($dark_cyan, 0.2);

                  a {
                    padding: 10px;
                    color: $dark_cyan;
                    border-radius: 0;

                    &:hover {
                      background: rgba($dark_cyan, 0.1);
                    }

                    &.logout {
                      color: $red;
                    }
                  }

                  &:last-child {
                    border: 0;
                  }
                }


              }
            }

            .nav-link {
              color: $dark_cyan;
              font-weight: 500;
              position: relative;
              padding-inline-start: 10px;
              padding-inline-end: 25px;
              height: 100%;
              display: flex;
              align-items: center;
            }
          }

          .lang {}

          .user {
            figure {
              margin: 0;
              width: 50px;
              height: 50px;
              margin-inline-start: 10px;

              img {
                height: 50px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
              }
            }

            h5 {
              font-size: 16px;
              font-weight: 400;

              span {
                font-weight: 600;
              }
            }
          }

          .notification {}
        }

        .page-title {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}



.progressbar {
  .item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .circle {
      height: 100px;
      flex: 0 0 100px;
      max-width: 100px;
      border-radius: 50%;
      margin-inline-end: 15px;
    }

    h3 {
      font-size: 18px;
      color: $dark_cyan;
    }

    &.orange {
      .circle {
        border: 5px solid #F0851D;
      }
    }

    &.cyan {
      .circle {
        border: 5px solid $dark_cyan;
      }
    }

    &.black {
      .circle {
        border: 5px solid $black;
      }
    }

    &.blue {
      .circle {
        border: 5px solid #15A0C9;
      }
    }
  }
}

.cards {
  .item {
    background: $white url('../src/assets/images/card-bg.svg') no-repeat right/cover;
    padding: 50px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    .icon{
      margin-inline-end: 50px;
      height: 75px;
      width: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-height: 100%;
      }
    }
    h4{
      color: $dark_cyan;
    }
    p{
      margin: 0;
    }
  }
}
