$dark_cyan : #169286;
$lighten_cyan: #CFE7DF;
$gradient_color_1: #F6FAF9;
$gradient_color_2: #CFE7DF;
$white:#fff;
$black:#000;
$red:#ff0000;
$gradient_bg: linear-gradient(to bottom, $gradient_color_1, $gradient_color_2);
